.service .box-item .right .partition-1{
    width: 29%;
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
}
.service .box-item .right .partition-2{
    width: 29%;
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
    margin-left: 10px;
}
.service .box-item .right .partition-3{
    width: 29%;
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
    margin-left: 10px;
}

.service .box-item .right .partition-4{
    width: 29%;
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
}
.service .box-item .right .partition-5{
    width: 29%;
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
    margin-left: 10px;
}
.service .box-item .right .partition-6{
    width: 29%;
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
    margin-left: 10px;
}