.blog h3 {
    font-family: "poppins", sans-serif;
    font-size: 48px;
    font-weight: 600px;
    margin-bottom: 28px;
}
.blog .box{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.blog .box .item{
    width: 32%;

}
.box .item P{
    padding-top: 40px;
    line-height: 36px;
    font-family: "poppins", sans-serif;
    font-size: 16px;
    font-weight: 500px;
    margin-bottom: 20px;
}
.box .item h3{
    font-family: "poppins", sans-serif;
    font-size: 24px;
    font-weight: 500px;
}

.box .item a .price{
    margin-top: 30px;
}